/* add-task form, modal */

#addTaskForm {
  display: none; /* hidden initially */
  background: #ffffff;
  width: 400px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#addTaskForm.active {
  display: block;
}


#addTaskForm form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
