/* reset, body, typograpy */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page base */
body {
  min-height: 100vh;
  background: #f4f6f8;
  padding-top: 40px;
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
