/* all buttons */

button,
#addTaskbtn {
  padding: 10px 15px;
  background: #4caf50;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}
#addTaskbtn {
  width: 100%;
}

button:hover,
#addTaskbtn:hover {
  background: #43a047;
}

#saveButton {
  height: 30px;
}
