/* inputs, selects, textarea */

#inputTask,
#searchInput,
#title,
#description,
#dueDate,
select {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#inputTask:focus,
#title:focus {
  outline: none;
  border-color: #4caf50;
}

#choiceForSort {
  display: none;
}
#choiceForSort.active {
  display: block;
}