/* page layout, containers */

/* Main container */
#main {
  background: #ffffff;
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  height: 450px;
}

/* Input rows */
.takeInput {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}
