/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page layout */
body {
  min-height: 100vh;
  background: #f4f6f8;
  padding-top: 40px;
}

/* Heading stays on top */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Main container */
#main {
  background: #ffffff;
  width: 400px;
  margin: 0 auto;              /* center horizontally */
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  height: 450px;               /* fixed height */
}

/* Input section */
.takeInput {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items:center;
  
}

/* Input box */
#inputTask, #searchInput {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#inputTask:focus {
  outline: none;
  border-color: #4caf50;
}

/* Done button */
#doneButton {
  padding: 10px 15px;
  background: #4caf50;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

#doneButton:hover {
  background: #43a047;
}

/* Task list container */
#taskList {
  flex: 1;                     /* takes remaining space */
  overflow-y: auto;            /* scroll only this */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 5px;
}

/* Each task row */
.tasks {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  background: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

/* Checkbox */
.tasks input[type="checkbox"] {
  cursor: pointer;
}

/* Task text */
.tasks label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.deleteButtons
{
     padding: 10px 15px;
  background: #4caf50;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

/* Checked task style */
.tasks input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #888;
}

/* save button */
#saveButton
{
  background: #4caf50;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  height: 30px;
}
